* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 1240px;
	margin: 0 auto;
}

.home {
padding-bottom: 51px;
padding-top: 51px;
}

.main {
margin-top: 96px;
margin-bottom: 163px;
}

footer {
	margin-bottom: 96px;
}

h1 {
	margin-bottom: 17px;
}

p {
	margin-bottom: 52px;
}

button {
padding: 15px 36px;
}